body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 0, 0, 0.258);
}

.user-profile {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: white;
    text-align: center;
}

#img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#img img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.user-profile h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.user-profile p {
    margin-bottom: 10px;
}
