* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: rgba(255, 0, 0, 0.258);
    line-height: 1.6;
    color: #333;
}

header {
    background-color: #ff4081;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 10px 0;
    background-color: #ff4081;
    text-align: center;
}

nav li {
    display: inline-block;
}

nav a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s ease-in-out;
}

nav a:hover {
    background-color: #ff669a;
}

.user-profile_user, .user-profile-rand {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
}

.user-profile_user {
    background-color: rgba(71, 0, 147, 0.096);
}

.user-profile-rand {
    background-color: #fff;
}

#img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#img img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.user-profile h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.user-profile p {
    margin-bottom: 10px;
}
